html body {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.terminal-container {
  margin: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
#container > div {
  width: auto;
  font-size: 17px;
}
#container > pre {
  color: #e6e6e6;
  width: auto;
  margin: 4px;
  font-size: 17px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  white-space: pre-wrap;
}
#container > .repl {
  color: rgb(100,100,100);
}
#container > .error {
  color: #de3535;
}
