html body {
  margin: 0px;
  font-family: -apple-system, "Segoe UI", "Helvetica", "Arial", sans-serif;
}
body {
  padding-top: 4.5rem;
}
footer {
  color: #9e9e9e;
  font-size: small;
}
footer a {
  color: #9e9e9e;
  text-decoration: underline;
  text-decoration-style: dotted;
}
.terminal-container {
  padding: 5px;
  background-color: #1f1f1f;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #2e2e2e;
}
#container > div {
  width: auto;
  font-size: 17px;
}
#container > pre {
  color: #e6e6e6;
  width: auto;
  margin: 0px;
  font-size: 17px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
  white-space: pre-wrap;
  counter-reset: line-no;
  line-height: normal;
  overflow: visible;
}
#container > .repl {
  color: rgb(100,100,100);
}
#container > .error {
  color: #de3535;
}
#container > .lines > .ace_line > a {
  padding-right: 2px;
}
#container > .lines > .ace_line:target {
  background-color: #2e2b2e;
}
#container > .lines > .ace_line > a::before {
  counter-increment: line-no;
  content: counter(line-no);
  padding-right: 1em;
  width: 3em;
  display: inline-block;
  text-align: right;
  background-color: #000000;
  color: #968b39;
}
#container > .lines > .ace_line:target > a::before {
  background-color: #968b39;
  color: #000000;
}

.inset {
  color: black;
  padding: 10px;
  margin: 20px;
  background-color: #e6e6e6;
  border-radius: 4px;
}
.inset > h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 16px;
}
.inset > p {
  font-size: 16px;
  padding: 0;
  margin-top: 0px;
  margin-bottom: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.inset code {
  border-radius: 3px;
  background-color: #1f1f1f;
  color: #e6e6e6;
  padding: 2px;
  font-size: 17px;
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
}
.inset code.multiline {
  border-radius: 3px;
  background-color: #1f1f1f;
  display: inline-block;
  white-space: pre-wrap;
  line-height: 19px;
}
.inset a.codelink {
  text-decoration: none;
  color: #e6e6e6;
  cursor: pointer;
}
.force-cursor {
  cursor: pointer;
}
.inset p.nextbutton {
  text-align: right;
  padding: 0px;
  margin: 0px;
}
.cardnumber {
  float: right;
  font-size: 12px;
  color: #1f1f1f;
  border-radius: 3px;
  background-color: #d0d0d0;
  padding: 4px;
}
